* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header-text {
    font-size: 23px;
    color: #fff
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #21012d;
    color: #fff;
    font-size: 23px;
}

.demo-button-container {
    position: absolute;
    bottom:   30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.main-text {
    margin: 50px 30px;
    text-align: center;
}

.demo-button {
    color: #d5440b;
    height: 28px;
    padding: 12px 100px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #d5440b;
    border-radius: 2px;
    cursor: pointer
}